.my-library {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, minmax( 260px, 1fr));
  grid-template-rows: auto;
  gap: 25px;
  align-items: stretch;
  margin: 90px 20px;
}

.my-library > * {
  grid-column: span 1;
}

@media (max-width: 1025px) {
  .my-library {
    grid-template-columns: minmax(260px, 1fr);
  }
}
