.library {
  display: grid;
  max-width: 100vw;
  max-height: 100%;
  grid-template-columns: repeat(2, minmax( 260px, 1fr));
  grid-template-rows: auto;
  gap: 25px;
  justify-items: stretch;
  margin: 0px 20px;
}

.library > * {
  grid-column: span 1;
}

@media (max-width: 1025px) {
  .library {
    grid-template-columns: minmax(260px, 1fr);
  }
}