@import '../../partials/variables', '../../partials/extends';

.library {
  @extend %song-cards-container;
}

.library > * {
  grid-column: span 1;
}

@media (max-width: 1025px) {
  .library {
    grid-template-columns: minmax(260px, 1fr);
  }
}
