@import '../../partials/variables', '../../partials/extends';

.home-nav { 
  display: flex; 
  height: 300px;
  width: 300px;
  background-size: cover; 
  border-radius: 50%;
  margin-bottom: 40px;
  position: relative;
  box-shadow: 0px 0px 15px 3px whitesmoke;
}

.marbled {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0.5;
  background-image: url('../../marbled.png');
}

.active-nav-bar {
  @extend %text-neon-glow;
}

.rotate-bg {
  animation: rotation 10s infinite linear;
  border-radius: 50%;
}

.static-bg {
  border-radius: 25px;
}

.home-link {
 color: rgb(255, 255, 255);
 text-shadow: 1px 1px 2px rgb(0, 0, 0);  
 font-size: 1.4em; 
 font-weight: 600;
 width: 100%;
 height: 100%; 
 line-height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 transition: transform 0.5s,
 letter-spacing 0.5s ease-out;

  &:hover {
    transform: scale(1.05);
    letter-spacing: 2.5px;
    transition: transform 0.5s,
    letter-spacing 0.5s ease-out;
    @extend %text-subtle-glow;
  }
}



.home-btns {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  flex: 1;
  z-index: 1;

  // &:hover {
  //   background-color: #f68084(10, 10, 237, 0.5);
  // }
}


.home-my-songs { 
  border-radius: 147px 0 0 147px;  
}

.home-my-songs:hover {
  background-color: #a6c0fe(247, 7, 191, 0.5); 
}

.home-song-book {
  border-radius: 0 147px 147px 0; 
}

.home-song-book:hover {
  background-color: #f68084(10, 10, 237, 0.5); 
}

.letter-k {
  width: 2px;
  background-color: rgb(0, 0, 0);
  height: 400px; 
}

.off-home-nav {
  height: 100px;
  display: grid;
  grid-template-columns: auto 160px auto;
  position: relative;
  background-size: contain;
}

.vinyl {
  background-image: url('../../vinyl-disc.png');
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

a {
  text-decoration: none;
  
}