.home-nav { 
  display: flex; 
  height: 300px;
  width: 300px;
  background-image: url("../../assets/francesco-de-tommaso-gskWuDulJn8-unsplash.jpg");
  background-size: cover; 
  border-radius: 50%;
  margin-bottom: 40px; 
}

.home-link {
 text-decoration: none; 
 color: rgb(255, 255, 255);
 text-shadow: 1px 1px 2px rgb(0, 0, 0);  
 font-size: 1.4em; 
 font-weight: 600; 
}


.home-btns {
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
  flex: 1; 
}

.home-my-songs { 
  border-radius: 147px 0 0 147px;  
  background-color: rgba(202, 17, 156, 0.5); 
}

.home-my-songs:hover {
  background-color: rgba(247, 7, 191, 0.5); 
}

.home-song-book {
  border-radius: 0 147px 147px 0; 
  background-color: rgba(16, 16, 121, 0.5);
}

.home-song-book:hover {
  background-color: rgba(10, 10, 237, 0.5); 
}

.letter-k {
  width: 2px;
  background-color: rgb(0, 0, 0);
  height: 400px; 
}
