.song-card {
  // border: 2px solid black;
  box-shadow: 0px 0px 10px 1px grey;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.song-card > img {
  grid-column: 1 / 2;
  border-radius: 50%;
  padding: 15px;
  width: 175px;
  height: 175px;
  justify-self: center;
  align-self: center;
}

.song-details {
  text-align: left;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.genres {
  width: 100%;
}

.song-details > * {
  width: 100%;
}

.handle-song-btn {
  position: absolute;
  right: 5px;
  top: 42.5%;
  width: 45px;
  background: none;
  cursor: pointer;
  border: none;
}


.hidden {
  display: none;
}
