.song-card {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.song-card > img {
  grid-column: 1 / 2;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}

.song-details {
  text-align: left;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.song-details > * {
  width: 100%;
}

.add-btn {
  position: absolute;
  right: 5px;
  top: 50%;
}