.song-card {
  border-radius: 15px;
  box-shadow: 0px 0px 11px 1px rgb(192, 47, 192);
  display: grid;
  position: relative;
  grid-template-columns: 225px auto;
  grid-template-rows: auto;
  padding: 10px 0px;
  background-color: white;
}

.song-card > img {
  grid-column: 1 / 2;
  border-radius: 50%;
  padding: 15px;
  width: 175px;
  height: 175px;
  justify-self: center;
  align-self: center;
}

.song-details {
  text-align: left;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.genres {
  width: 100%;
  display: flex;
  list-style: none ;
}

.song-details > * {
  width: 100%;
}

.handle-song-btn {
  position: absolute;
  right: 20px;
  top: 30%;
  width: 45px;
  background: none;
  cursor: pointer;
  border: none;
}

.lyrics-btn {
  top: 60%; 
}

