%functional-medium {
  font-family: $functional-font;
  font-weight: 400;
}

%functional-light {
  font-family: $functional-font;
  font-weight: 200;
}

%functional-italic-light {
  font-family: $functional-font;
  font-weight: 200;
  font-style: italic;
}

%functional-bold {
  font-family: $functional-font;
  font-weight: 500;
}