%functional-medium {
  font-family: $functional-font;
  font-weight: 400;
}

%functional-light {
  font-family: $functional-font;
  font-weight: 200;
}

%functional-italic-light {
  font-family: $functional-font;
  font-weight: 200;
  font-style: italic;
}

%functional-bold {
  font-family: $functional-font;
  font-weight: 500;
}

%text-neon-glow {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(252, 22, 225),
    0 0 80px rgb(252, 22, 225),
    0 0 90px rgb(252, 22, 225),
    0 0 100px rgb(252, 22, 225),
    0 0 150px rgb(252, 22, 225);
}

%text-subtle-glow {
  text-shadow:
    0 0 2px silver,
    0 0 8px silver,
    0 0 15px whitesmoke;
}

%song-cards-container {
  display: grid;
  max-width: 100vw;
  max-height: 100%;
  grid-template-columns: repeat(2, minmax( 260px, 1fr));
  grid-template-rows: auto;
  gap: 25px;
  justify-items: stretch;
  padding: 0px 20px 20px 20px;
}