html {
  height: 100%; 
}

body {
  height: 100%; 
}

.root {
  height: 100%; 
}

.App {
  text-align: center;
  max-width: 100%;
  height: 100%; 
}

.home-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background: rgb(251,250,252);
  background: linear-gradient(0deg, rgba(251,250,252,1) 40%, rgb(137, 193, 225) 100%);
  height: 100%; 
}

.home-title {
  font-size: calc(30px + 2vmin);
  letter-spacing: 15px;
}

.home-greeting {
  font-size: calc(10px + 2vmin); 
  margin-bottom: 50px;
  font-weight: 500;  
}

.handle-song-icon {
  width: 90%;
  height: 90%;  
}

.handle-song-icon:hover {
  color: rgb(164, 12, 103);
}
