@import './partials/variables';

html {
  height: 100%; 
}

body {
  height: 100%; 
}

.root {
  height: 100%; 
}

.App {
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient( 120deg, #a6c0fe 0%, #f68084 100%) no-repeat;
  background-size: cover;

}

.home-container {
  color: #fff;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  // background: rgb(251,250,252);
  // background: linear-gradient(0deg, rgba(251,250,252,1) 40%, rgb(137, 193, 225) 100%);
  height: 100%; 
}

.home-title {
  font-size: calc(30px + 2vmin);
  letter-spacing: 15px;
  font-family: $art-font;
  text-shadow:
  0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px rgb(252, 22, 225),
  0 0 80px rgb(252, 22, 225),
  0 0 90px rgb(252, 22, 225),
  0 0 100px rgb(252, 22, 225),
  0 0 150px rgb(252, 22, 225);
}

.home-greeting {
  font-size: xx-large; 
  margin-bottom: 50px;
  font-weight: 500;  
}

.handle-song-icon {
  width: 90%;
  height: 90%;  
}

.handle-song-icon:hover {
  color: rgb(164, 12, 103);
}

.heart-icon {
  color: rgb(179, 10, 10);
  width: 100%;
  height: 100%; 
}
